@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

@font-face{
    font-family: Helvetica;
    src: url('../../assets/fonts/Helvetica.ttf')
}

body{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400
}

.main{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 20%;
    border-radius: 5px;
}

.foto{
    width: 400px;
    height: 400px;
}

.picture{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.nome{
    margin-top: 0;
}

.infos{
    display: flex;
    flex-direction: row;

}

.person{
    width: 400px;
}

.hability{
    width: 400px;
}

.title{
    font-size: 24px;
    border-bottom: 2px solid black;
}

.hability-title{
    padding-left: 8px;

}

.hability-box{
    padding-left: 8px;
}

.btn-container{
    width: 90vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button{
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400
}

button:hover:not([disabled]){
    cursor: pointer;
    background: #bfbfbf;
    transition: 0.2s linear;
}

@media (min-width: 1700px){
    .main{
        height: 90vh;
    }

    .person{
        width: 400px;
        border-right: 2px solid black;
    }
}

@media (max-width: 1700px){
    .main{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .person{
        width: 400px;
        border-right: 2px solid black;
    }
}

@media (max-width: 900px) {
    .infos{
        display: flex;
        flex-direction: column;
    }

    .person{
        width: 400px;
        border-right: 0px solid black;

    }
}

@media (max-width: 480px) {
    .main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .btn-container{
        width: 100vw;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}